body {
    background-color: rgb(55, 55, 55);
    color: rgb(224, 224, 224);
    font-family: -apple-system, BlinkMacSystemFont, "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 8px;
}

.smallstats {
    font-size: 90%;
}

.stats {
    line-height: 1.35;
}

#status {
    color: rgb(224, 55, 55);
}
